@(errorMessage: String)
<!DOCTYPE html>
<html>

    <head>
        <title>Error page</title>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/general.css">
    </head>

    <body>



        <h4>@errorMessage</h4>

        Please, <a href = "/">Try again</a>

        <div id="original" class="map">
            <h3>Original</h3>
        </div>

        <div id="fixed" class="map">
            <h3>Fixed</h3>
        </div>

        <br>
        <a href = "/">Try again</a>

    </body>

</html>