@(pointsTotal: Integer, pointsDeleted: Integer, status: String, lon: Double, lat: Double)
<!DOCTYPE html>
<html>

    <head>
        <title>Results</title>

        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/results.css">
        <script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
        <script src="/assets/javascripts/jquery-1.9.0.min.js"></script>

    </head>

    <body>
        <h4>@status</h4>
        <p> Number of points initially: @pointsTotal<br>
            @pointsDeleted points have been deleted<br>
        </p>

        <div> Now download updated file <a href = "/download" download = yourResult.gpx> here </a></div>

        <!--map rendering is based on the following example
        https://openlayers.org/en/latest/examples/gpx.html -->

        <div id="original" class="map">
            <h3>Original</h3>
        </div>

        <div id="fixed" class="map">
            <h3>Fixed</h3>
        </div>

        <br>
        <a href = "/">Try again</a>

        <script type="text/javascript" data-lon_source = "@lon" data-lat_source = "@lat" src = "/assets/javascripts/map-source.js">
        </script>

        <script type="text/javascript" data-lon_result = "@lon" data-lat_result = "@lat" src = "/assets/javascripts/map-result.js">
        </script>

    </body>

</html>