<!DOCTYPE html>

<html>

    <head>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110602328-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110602328-1');
         </script>

        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/general.css">

        <title>GPX deGlitcher for runners</title>
        </head>

    <body>
        <h2>Fix your inaccurate gpx data</h2>

        <p>
        Upload your file and choose cutoff speed. Too fast segments will be deleted.
        </p>

        <form name = "uploadForm" method = "POST" enctype = "multipart/form-data">
            <input type = "number" name = "desiredCutoff" placeholder = "14.5" value = "14.5" step="0.5" min="0"/><br>
            <input type = "checkbox" name = "doVertical" value ="true"/>Filter out vertical oscillations (experimental)<br>
            <input type = "file" name = "fileField" accept = ".gpx"/><br>
            <input type = "submit" name = "submitButton" value = "upload and process"/><br>
        </form>

       <div class = "speedinfo"> <p>
            27.7 km/h is a world record speed for 1k<br>
            15 km/h is your 4 min/km pace<br>
            12 km/h is your 5 min/km pace<br>
            10 km/h is your 6 min/km pace<br>
            6 km/h is you walking fast<br>
        </p>
       </div>
         <img src="/assets/images/demo.jpg" height="260"/>

        <p>You can download demo glitchy gpx file to play with <a href = "/assets/glitchy.gpx" download = demo.gpx> here </a> </p>

        <p>Visit <a href = "https://github.com/salsadellorso/gpxDeGlitcher"> github page </a> if you want to improve deGlitcher </p>

    </body>

</html>

